/* Import Google Font - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    background: #4d59fb;
    display: flex;
    height: 100vh;
    justify-content: center;
}

::selection {
    color: #fff;
    background: #4D59FB;
}

.container {
    background: #fff;
    border-radius: 28px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
    padding: 25px 28px 45px;
    width: 420px;
    header {
        font-size: 28px;
        font-weight: 500;
        text-align: center;
    }
    .search {
        position: relative;
        margin: 35px 0 18px;
        input {
            border: 1px solid #999;
            border-radius: 5px;
            font-size: 16px;
            height: 53px;
            outline: none;
            padding: 0 42px;
            width: 100%;
            &:focus {
                padding: 0 41px;
                border: 2px solid #4D59FB;
            }
            &::placeholder {
                color: #B8B8B8;
            }
            &:focus~i {
                color: #4D59FB;
            }
            &:valid~span {
                display: block;
            }
        }
         :where(i,
        span) {
            color: #999;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }
        i {
            left: 18px;
            pointer-events: none;
            font-size: 16px;
        }
        span {
            cursor: pointer;
            display: none;
            font-size: 18px;
            right: 15px;
        }
    }
    ul {
        height: 0;
        opacity: 0;
        padding-right: 1px;
        overflow-y: hidden;
        transition: all 0.2s ease;
        li {
            display: flex;
            list-style: none;
            margin-bottom: 14px;
            align-items: center;
            padding-bottom: 17px;
            border-bottom: 1px solid #D9D9D9;
            justify-content: space-between;
            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    &.active {
        ul {
            opacity: 1;
            height: 303px;
        }
        .info-text {
            display: none;
        }
    }
    .word {
        p {
            font-size: 22px;
            font-weight: 500;
        }
        span {
            font-size: 12px;
            color: #989898;
        }
        i {
            color: #999;
            font-size: 15px;
            cursor: pointer;
        }
    }
    .content {
        max-height: 215px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
        li {
            .details {
                padding-left: 10px;
                border-radius: 4px 0 0 4px;
                border-left: 3px solid #4D59FB;
            }
            p {
                font-size: 17px;
                font-weight: 500;
            }
            span {
                font-size: 15px;
                color: #7E7E7E;
            }
            .synonyms {
                .list {
                    display: flex;
                    flex-wrap: wrap;
                }
                span {
                    cursor: pointer;
                    margin-right: 5px;
                    text-decoration: underline;
                }
            }
        }
    }
    .info-text {
        font-size: 13px;
        color: #9A9A9A;
        margin: -3px 0 -10px;
        span {
            font-weight: 500;
        }
    }
}